<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis recusandae eligendi ut, repellendus nihil
            animi, maiores distinctio, consequatur nesciunt perspiciatis debitis voluptatibus totam quam quidem dolorum
            natus aliquam quisquam voluptates.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis recusandae eligendi ut, repellendus nihil
            animi, maiores distinctio, consequatur nesciunt perspiciatis debitis voluptatibus totam quam quidem dolorum
            natus aliquam quisquam voluptates.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis recusandae eligendi ut, repellendus nihil
            animi, maiores distinctio, consequatur nesciunt perspiciatis debitis voluptatibus totam quam quidem dolorum
            natus aliquam quisquam voluptates.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>